.containerHeader {
	background-color: #013523;
	height: 48px;
	width: 100vw;
	color: white;
	margin-left: 0 !important;
	margin-right: 0 !important;
}
.btnUpgrade {
	background-color: orangered;
}
.user_info {
	text-align: right;
}
